<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .invisible {
            display: none;
            visibility: hidden;
        }
        
        body {
            height: 100vh;
            width: 100vw;
            background-image: linear-gradient(blue, red);
            /*animation: example s ease-in-out infinite alternate;*/
        }
        /*@keyframes example{
			from {
				background-image: linear-gradient(blue, red);
			}
			to{
				background-image: linear-gradient(red, green);
			}
		}*/
        
        .login-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        
        h1 {
            margin-top: 200px;
            font-size: 4rem;
        }
        
        .form {
            display: flex;
            flex-direction: column;
            align-items: left;
            width: 350px;
            height: auto;
        }
        
        input {
            box-shadow: -2px -2px black;
            padding: 10px;
            margin: 10px;
        }
        
        .submit {
            width: 50%;
            margin-bottom: 0px;
            align-self: center;
            height: 40px;
            font-size: 1.2rem;
            border-radius: 5px;
            transition: 0.4s;
        }
        
        .submit:hover {
            background-image: linear-gradient(blue, red);
            padding: 3px;
            box-shadow: -1px -1px yellow;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <div class="login-form">
        <h1>Admin Login</h1>

        <form action="/auth" method="POST" class="form">
            <input type="username" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" onclick="func()" value="submit">
        </form>

    </div>
</body>

</html>
<script>
    function func() {
        if ('<=%stat%>' == 0) {
            console.log('<=%stat%>');
            alert('Wrong Password');
        }
    }

    function preventBack() {
        window.history.forward();
    }

    setTimeout("preventBack()", 0);

    window.onunload = function() {
        null
    };
</script>
